@import 'tailwindcss';



h1 {
    color: #C1121F;
}


body {
    background-color: #ffffff;
}



.H{
    font-family: 'Cabin', sans-serif;

}

.CTA{
    font-family: 'Cabin', sans-serif;
    color: #3e7a9a;

}